.topBar {
  transition: width 0.7s ease;
  overflow: hidden;
  width: 80px;
}
.topBar.expand {
  width: 100%;
}

.mobileHeader {
  transition:
    height 0.7s ease,
    width 0.7s ease;
  height: 86px;
}

.mobileHeader.expand {
  width: 100%;
  height: calc(100vh - (var(--mantine-spacing-md) * 2));
  overflow: hidden;
}

.topBarLink {
  /* font-family: Noe Bold; */
  font-size: xx-large;
  text-decoration: none;
  color: var(--mantine-color-primary-0);
  &[data-status="active"] {
    text-decoration: underline solid var(--mantine-color-primary-0);
  }
}

/* Credit: Mikael Ainalem https://mikael-ainalem.medium.com/ */
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &.active {
    transform: rotate(45deg);
  }
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill: none;
  transition:
    stroke-dasharray 400ms,
    stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition:
    transform 400ms,
    stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}

.animateHeader {
  opacity: 0;
  animation: fadeInHeader ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
@keyframes fadeInHeader {
  0% {
    opacity: 0;
    translate: 0 -50vh;
  }

  100% {
    opacity: 1;
    translate: 0 0;
  }
}

.animateFooter {
  opacity: 0;
  animation: fadeInFooter ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
@keyframes fadeInFooter {
  0% {
    opacity: 0;
    translate: 0 50vh;
  }

  100% {
    opacity: 1;
    translate: 0 0;
  }
}
