.typewriter {
  overflow: hidden;
  border-right: 0.15em solid transparent;
  white-space: nowrap;
  margin: 0 0 0 auto;
  letter-spacing: 0.1em;
  font-family: Kumar;
  font-size: 6vw;
  color: var(--mantine-color-primary-0);
  &.one {
    animation:
      typing 1.5s steps(40, end),
      blink-caret 0.5s step-end 3;
  }
  &.two {
    width: 0;
    animation:
      typing 1.5s steps(40, end),
      blink-caret 0.5s step-end infinite;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
  }
}
.typewriter::selection {
  background: #0eb1d2;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #0eb1d2;
  }
}

.contentAnimation {
  opacity: 0;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    translate: 0 50vh;
  }

  100% {
    opacity: 1;
    translate: 0 0;
  }
}

.inlineLink {
  color: var(--mantine-color-text);
  text-decoration-color: var(--mantine-color-primary-7);
}

.inlineLink:hover {
  background-color: var(--mantine-color-primary-7);
  border-radius: 5px;
  text-decoration: none;
}
