.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 0 0 auto;
  letter-spacing: 0.1em;
  font-family: Kumar;
  font-size: 6vw;
  color: #f5f1fe;
  &.one {
    animation:
      typing 2.5s steps(40, end),
      blink-caret 0.75s step-end 3;
  }
  &.two {
    width: 0;
    animation:
      typing 2.5s steps(40, end),
      blink-caret 0.75s step-end infinite;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #0eb1d2;
  }
}
