@font-face {
  font-family: "Lateral";
  src: url("./Lateral-StandardRegular.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: "Lateral Italic";
  src: url("./Lateral-StandardRegularItalic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: "Lateral Bold";
  src: url("./Lateral-StandardBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lateral Bold Italic";
  src: url("./Lateral-StandardBoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Lateral Condensed Bold";
  src: url("./Lateral-CondensedBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lateral Condensed Bold Italic";
  src: url("./Lateral-CondensedBold.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
