@font-face {
  font-family: "Noe";
  src: url("./noe.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noe Italic";
  src: url("./noe-italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Noe Bold";
  src: url("./noe-bold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Noe Bold Italic";
  src: url("./noe-bold-italic.ttf");
  font-weight: 600;
  font-style: italic;
}
